@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Book.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Book.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Medium.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --global-site-width: 1420px;
  --content-y-padding: 48px;
  /* --sidebar-width: 300px; */
}


body {
  @apply bg-scale-100 dark:bg-scale-100;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #6ee7b7;
  color: #333 !important;
}

a {
  text-decoration: none !important;
}

/* article h1 {
  margin-bottom: 3rem !important;
  font-size: 3rem !important;
  font-weight: 400 !important;
} */

.thin-scrollbar {
  scrollbar-width: thin;
}

/* .sidebar-width {
  width: var(--sidebar-width);
} */

/* .docs-width {
  max-width: calc(100% - var(--sidebar-width));
} */

.table-of-contents-height {
  max-height: calc(100vh - 3.75rem - 2rem);
  overflow-y: auto;
  position: sticky;
  top: calc(3.75rem + 1rem);
}

.width-full {
  width: 100% !important;
  max-width: max-content !important;
}
